@use './partials/palette.scss';
@use './modules/mixins.scss';
@use './modules/foundation.scss';
@use './partials/media-queries.scss' as q;


* {
    margin: 0;
    padding:0;
    scroll-behavior: smooth;
}

//Nav bar styling
.navbar {
    @include mixins.flex(row, space-between, nowrap);
    align-items: center;
    background-color: palette.$dark-blue;
    width: 100%;
    max-width: 100vw;
    position: fixed;
    top: 0;
    z-index: 2;

    @include q.md-up {
        justify-content: start;
        
    }
    
    &__logo {
        @include mixins.outfit-nav(1.7em, 600);
        text-shadow: 0 0 10px palette.$lighter-blue;
        padding: 10px;
        margin-left: 5vw;
    }

    &__menu {
        @include mixins.flex(column, end, nowrap);
        align-items: flex-end;
        @include q.md-up {
            margin-left: 50%;
            
        }
    
        &__hamburger {
            padding: 10px;
            cursor: pointer;
            font-size: 25px;
            color: palette.$black;
            text-shadow: 0 0 2px grey;
            margin-right: 2vw;

            // Disappears on larger screens
            @include q.md-up {
                display: none;
            } 
        }
        
        &__links {
            display: none; //Links hidden on larger screens
            flex-direction: column;
            justify-content: center;
            align-items: flex-end;
            gap: 10px;
            top: 60px;
            width: 100%;
            
            &--text {
                list-style: none;
                margin-right: 2vw;
            }

            &--open {
                display: flex; //Show links on smaller screens
            }
        }

        @include q.md-up {
            &__items {
                @include mixins.flex(row, space-between, nowrap);
                margin-right: 5vw;
                gap: 18px;
            }
        }

    }

    // Hide checkbox visually but keep it accessible 
    &__menu-toggle {
        position: absolute;
        opacity: 0;
        pointer-events: none;
        }
    
    // When menu is open, show the links
    &__menu-toggle:checked + .navbar__menu__hamburger + .navbar__menu__links {
        @extend .navbar__menu__links--open;
    }  
}

.content {
    @include mixins.flex(column, center, nowrap);

}

.page-block {
    width: 100%;
    height: 100vh;
    padding-top: 60px;
}

// Landing Page Styling

.landing {
    @include mixins.flex(column, center, nowrap);
    background-image: linear-gradient(palette.$dark-blue, palette.$light-blue, palette.$lighter-blue);
    gap: 4vh;
    

    &__head {
        @include mixins.outfit-nav(2.5em, 600);
        margin: 5%;
        @include q.md-up {
            @include mixins.outfit-nav(4.5em, 600);
        }

        &--name {
            color: palette.$darkest-blue;
        }
    }

    &__subhead {
        @include mixins.outfit-nav(1.7em, 600);
        margin: 5%;
        @include q.md-up {
            @include mixins.outfit-nav(3.7em, 600);
        }

        &--role {
            color: palette.$darkest-blue;
        }
    }
}

// Skills page styling

.skills {
    @include mixins.flex(column, start, nowrap);
    background-image: linear-gradient(palette.$lighter-blue, palette.$light-blue, palette.$dark-blue);
    height: auto;

    &__head {
        @include mixins.outfit-nav(2.2em, 600);
        margin-left: 5%;
        @include q.md-up {
            @include mixins.outfit-nav(3.8em, 600);
        }
    }

    &__container {
        @include mixins.flex(column, center, nowrap);
        margin: 5% 5% 0 5%;
        gap: 3vh;
    }

    &__type {
            @include mixins.flex(column, center, nowrap);

            &--text {
                @include mixins.outfit-nav(2em, 600);
                @include q.md-up {
                    @include mixins.outfit-nav(3.4em, 600);
                }
                
            }

        &__item {
            @include mixins.flex(row, center, wrap); //Single column for small screens
            @include q.md-up {
                @include mixins.flex(row, center, wrap);
            }
            gap: 5%;

            &__card {
                @include mixins.flex(column, center, wrap);
                align-items: center;
                gap: 5%;

                &--text{
                    @include mixins.outfit-nav(1.2em, 600);
                    @include q.md-up {
                        @include mixins.outfit-nav(2.2em, 600);
                    }
                }
                &--logo {
                    font-size: 1.5em;
                    @include q.md-up {
                        font-size: 2.8em;
                }
                }
            }
        }
    }
}

// Projects page styling
.projects {
    @include mixins.flex(column, space-between, nowrap);
    height: auto;
    background-image: linear-gradient(palette.$dark-blue, palette.$light-blue, palette.$lighter-blue, palette.$light-blue,palette.$dark-blue);
    gap: 50%;

    &__head {
        @include mixins.outfit-nav(2.5em, 600);
        margin-left: 5%;
        @include q.md-up {
            @include mixins.outfit-nav(3.8em, 600);
        }
    }

    &__indiv {
        @include mixins.flex(column, start, nowrap);
        align-items: center;
        border-radius: 25px;
        background-color: palette.$lighter-blue;
        margin: 10%;
        gap: 5%;

        @include q.md-up {
            @include mixins.flex(row, start, nowrap);
        }

        &--thumbnail {
            width: 200px;
            height: 250px;
            border-radius: 25px;
        }

        &__details {
            @include mixins.flex(column, start, nowrap);
            border-radius: 25px;

            &--name {
                @include mixins.outfit-nav(2em, 600);
            }

            &--descrip {
                @include mixins.outfit-nav(1.2em, 300);
            }
        }
    }
}

// About Section Styling
.about {
    @include mixins.flex(column, center, nowrap);
    align-items: center;
    height: auto;
    gap: 5%;
    background-image: linear-gradient(palette.$dark-blue, palette.$light-blue, palette.$lighter-blue);

    @include q.md-up {
        @include mixins.flex(row, center, nowrap);
        padding-bottom: 10%;
    }

    &__container {
        @include mixins.flex(column, space-bewteen, nowrap);
        @include q.md-up {
            @include mixins.flex(column, center, nowrap);
            width: 60%;
            
        }
    }

    &__head {
        @include mixins.outfit-nav(2.5em, 600);
        margin-left: 5%;
        @include q.md-up {
            @include mixins.outfit-nav(3.8em, 600);
        }
    }
    
    &__card {
        @include mixins.flex(column, space-between, nowrap);
        align-items: center;
        gap: 15px;
        border-radius: 25px;
        @include q.md-up {
            @include mixins.flex(row, center, nowrap);
            width: 90%;
            margin-left: 2vw;
            
        }

        &__image {
            height: 300px;
            width: 300px;
            border-radius: 200px;
            box-shadow: 0px 0px 20px grey;
        }

        &__intro {
            @include mixins.flex(column, space-between, nowrap);
            gap: 12px;
            @include mixins.outfit-nav(1.2em, 500);
            margin-left: 5%;
            margin-right: 5%;
        }
    }
}

// Styling for contact page
.contact {
    @include mixins.flex(column, center, nowrap);
    @include q.md-up {
        @include mixins.flex(row, center, nowrap);
    }

    &__container {
        @include mixins.flex(column, center, nowrap);
        margin-top: 10%;
        margin-bottom: 10%;
        gap: 20px;
        
    }

    &__head {
        @include mixins.outfit-nav(2.5em, 600);
        @include q.md-up {
            @include mixins.outfit-nav(3.8em, 600);
        }
    }

    &__details {
        @include mixins.flex(column, space-between, nowrap);
        gap:5px;

        &--logo {
            font-size: 2em;
        }

        &--text {
            @include mixins.flex(row, space-between, nowrap);
            align-items: center;
        }
    }
}
